<div>
  <div class='newLeft'>
      <label>Name</label>
      <input class='candNameNew'>
      <button class='submitCandidate'>Submit Candidate</button>
  </div>

  <div class='newRight'>
      <label>Statement</label>
      <textarea class='candBlurbNew'></textarea>
  </div>
  <br>
</div>

<hr>

<h3>Lock Voting</h3>

<% if @lock.status %>
  <span>Voting has been locked.</span>
<% else %>
  <%= button_to 'Lock', lock_path, method: :get, class: 'lockButton' %>
  <span>Voting is currently unlocked.</span>
<% end %>

<hr>

<table>
  <th>Candidate</th>
  <th>Total</th>
  <th colspan="5">Places:</th>
  <% @candidates.each do |candidate| %>
    <tr>
    <td><%= candidate.name %></td>

    <td><%= candidate.votes.inject(0) do |sum, vote|
      sum += vote.place
    end %></td>

    <% candidate.votes.each do |vote|%>
      <td><%= vote.place %></td>
    <%end%>
    </tr>
  <% end %>
</table>

<hr>

<button class='toggleRecords'>Show/Hide individual voting records</button>

<table class='votingRecords'>
  <th>Voter</th>
  <th>email</th>
  <th colspan="5">Candidates in Voted Order:</th>
  <% @voters.each do |voter| %>
    <tr>
    <td><%= voter.name %></td>
    <td><%= voter.email %></td>
    <% voter.votes.each do |vote|%>
      <td><%= vote.candidate.name %></td>
    <%end%>
    </tr>
  <% end %>
</table>

<hr>

<button class='showWinner'>show winner</button>
<h3 class='winner'></h3>
