<!DOCTYPE html>
<html>
<head>
<meta name="google-signin-client_id" content="826491445583-amr7d42m1bjvetekdblosj1usp1gm1ev.apps.googleusercontent.com">
  <title>Voting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class='container'>
  <%= yield %>
</div>


<script src="https://apis.google.com/js/platform.js" async defer></script>

</body>
</html>
